html,
body {
  padding: 0;
  margin: 0;
  /* scroll-behavior: smooth; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* font-size: 14px; */
}

* {
  box-sizing: border-box;
}

.slick-track {
  margin-left:0 !important;
}

.slick-list {
  padding-bottom: 20px!important;
}
